*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #DECBA4, #819f9f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Heading of the web app */
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 0px;
    font-size: 40px;
    color: rgb(46, 46, 46);
}


/* main container */
.container{
    width: 30vw;
    height: 60vh;
    padding: 60px;
    /* margin-top: 12.5vh; */
    background: rgb(209,111,3);
    background: linear-gradient(173deg, rgb(246, 161, 71) 0%, rgba(254,204,60,1) 100%);
    border-radius: 30px;
    box-shadow: 0px 0px 24px 4px rgb(247, 222, 173);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

 /* ::-webkit-scrollbar {
    display: none;
}  */

 ::-webkit-scrollbar {
    width: 3px;
    border-radius: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(208, 115, 15);
    border-radius: 5px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
  } 



/* inner div section for the tasks */
.inner{
    width: 30vw;
    height: 50vh;
    background-color: transparent;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid black; */
    box-shadow: 0px 0px 10px 2px rgb(245, 118, 54);
}


/* form section containing input bar */
form{
    width: 100%;
    height: 8vh;
    /* border: 2px solid black; */
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text], select{
    width: 100%;
    height: 70%;
    text-align: center;
    box-sizing: border-box;
    border: none;
    font-size: 1.5rem;
    /* font-size: 2vh; */
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}



/* add button */
button{
    /* margin-left: -50px; */
    height: 70%;
    background: white;
    border: none;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    cursor: pointer;
}


/* button of tasks */
button i{
    font-size: 20px;
}

form button i{
    transition: all 0.2s ease-in;
}

form button i:hover{
    /* transform: rotate(360deg); */
    color:rgb(208, 115, 15);
}

.todo-list button{
    background-color: transparent;
}

.todo-list{
    width: 95%;
    padding: 2%;
    list-style: none;
}

/* .todo :not(:first-child){
    margin-top: 0px;
} */

.todo{
    border: 2px solid rgb(208, 115, 15);
    font-size: 1.5rem;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    transition: all 0.3s ease;
}

.fa-check:hover{
    color:rgb(14, 160, 14);
}

.fa-trash:hover{
    color:rgb(255, 0, 0);
}


/* count of the tasks */
h3{
    font-family: 'Raleway', sans-serif;
    margin-top: 4px;
}



.todo li{
    flex: 1;
}


/* for adding style if the the task is marked as completed */
.completed {
    text-decoration: line-through;
    opacity: 0.5;
    border: 2px solid rgb(64, 122, 6);
  }


  /* for filter option */
  select{
      width: 10vw;
      height: 25px;
      border-radius: 20px;
      margin: 20px;
      margin-top: 0px;
      font-size: small;
  }

  option{
      font-size: medium;
      margin: 10px;
  }



  /* for making the page responsive */
  @media screen and (max-width: 880px){

      h2{
          font-size: 30px;
      }

      .container{
          width : 60vw;
          min-width: 310px;
          /* margin-top: 60px; */
          padding: 20px;
          min-height: 580px;
      }

      .inner{
          width: 100%;
          min-height: 300px
      }

      select{
          width : 100px;
      }


      .todo{
        font-size: 1rem;

    }

      h3{
          font-size: 18px;
      }
  }


  @media screen and (max-width: 730px) {
    input[type=text]::placeholder{
        font-size: medium;
    }
  }


